<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다중체크</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div id="app">
    <label><input type="checkbox" v-model='val' value='A'> A</label>
    <!--
      val이 연동이 되는데, value값을 연동하고 아래쪽에서 빈 배열을 만들어 준 상태이다.
      순서를 따져서 자동으로 push, pop을 해준다.
      결과를 보면 체크를 하면 value값이 배열에 추가된다.
    -->
    <label><input type="checkbox" v-model='val' value='B'> B</label>
    <label><input type="checkbox" v-model='val' value='C'> C</label>
    <p>{{ val }}</p>
  </div>

    <!-- Vue.js 2.6.9-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js'></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          val: []
          /* 배열 형태이지만 값은 지정하지 않은 상태. */
        }
      });
    </script>
</body>
</html>