<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리스트요소속성변경</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(item, index) in list" v-bind:key='item.id' v-if='item.hp'>
        ID.{{item.id}} {{item.name}} HP.{{item.hp}}
        <span v-if='item.hp < 50'>빈사 상태!</span>
        <!-- 버튼은 v-for 내부에 만들기 -->
        <button v-on:click='doAttack(index)'>공격</button>
      </li>
    </ul>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js' integrity='sha512-deBbW1lpMT6h3gvOzmeMPft4pf9CMGjCKc5jSNq2pMSjtkMPuELbd4N3LKXVq/t1t6qco4q3u/XguyqGqlOMjA==' crossorigin='anonymous'></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        list: [
          { id: 1, name: '슬라임', hp: 100 },
          { id: 2, name: '고블린', hp: 300 },
          { id: 3, name: '오크', hp: 500 },
        ]
      },
      methods: {
        // 공격버튼을 클릭할 때의 핸들러
        doAttack: function(index){
          this.list[index].hp -= 70
        }
      }
    });
  </script>
</body>
</html>